<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/jersey_restful</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">262626</property>

        <!--Hibernate SQL Göstermek için -->
        <property name="show_sql">true</property>

        <!--Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>

        <!--<mapping class="hibernate_ders_1_Giris_ve_kurulum.User"></mapping>-->
        <!--<mapping class="hibernate_ders_1_Giris_ve_kurulum.Personel"></mapping>-->

        <!--<mapping class="hibernate_ders_2.Customer"></mapping>-->

        <!--<mapping class="hibernate_ders_3.Student"></mapping>-->

        <!--<mapping class="hibernate_ders_4.Accounts"></mapping>-->

        <!--<mapping class="hibernate_ders_5_OnetoOne_Association.Citizen"></mapping>-->
        <!--<mapping class="hibernate_ders_5_OnetoOne_Association.CitizenAdrress"></mapping>-->

        <!--<mapping class="hibernate_ders_6_OnetoMany_Association.Univercity"></mapping>-->
        <!--<mapping class="hibernate_ders_6_OnetoMany_Association.Uni_Student"></mapping>-->

        <!--<mapping class="hibernate_ders_7_ManytoMany_Association.Book"></mapping>-->
        <!--<mapping class="hibernate_ders_7_ManytoMany_Association.AutHour"></mapping>-->

        <mapping class="hibernate_ders_8_Inheritance.Vehicle"></mapping>
        <mapping class="hibernate_ders_8_Inheritance.TwoWheeler"></mapping>
        <mapping class="hibernate_ders_8_Inheritance.FourWheeler"></mapping>

        <mapping class="hibernate_ders_9_Create_Read_Update_Delete.Users"></mapping>

        <mapping class="hibernate_ders_10_Queries_1.Workers"></mapping>
        <mapping class="hibernate_ders_11_Queries_2.Workers2"></mapping>

    </session-factory>
</hibernate-configuration>